* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #757474;
}

html{
    font-size: 15px;/*최상위 태그의 글씨 크기 값*/
}

body{
    padding: 10%;
}

li{
    list-style: none;
}


ul li a{
    list-style-type : none;
    display: block;
}

header {
    width: 1000px;
}

.header {
    width: 100%;
    border-bottom: 2px solid hsl(61, 98%, 44%);
}
.board_title {
    margin-top: 20px;/*글쓰기 버튼 위치 위로 30px만큼 공백 생성*/
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
.board_title h1 {
    display: inline-block;
    line-height: 80px;
    margin-left: 320px;
    margin-right: 320px;
}

.login {
    margin-top: 30px;
    text-align: right;
    display: inline-block;
    width: 50px;
    height: 40px;
    font-size: 13px;
    float: right;
}

.menu {
    display: inline;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu li{
    width: 100%;
    display: inline;
    padding: 0px 10px 0px 30px;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.menu li a{
    display: inline-block;
}

.all {
    width: 1000px;
    border-top: 2px solid hsl(61, 98%, 44%);
    padding-top: 20px;
    text-align: center;
}

.Notice {
    border: 2px solid hsl(61, 98%, 44%);
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    width:30%;
    height: 500px;
    box-sizing: border-box;
    float: left;
    height: 500px;
}

.Notice_top > div.title {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.Notice_top> div.writer {
    text-align: right;
    display: inline-block;
    width: 20%
}

.Notice_top hr, .Board_top hr, .HOT_top hr {
    border: 0.1px solid hsl(61, 98%, 44%)
}

.NT_li .title{
    float: left;
    width: 70%;
    display: inline-block;
}

.NT_li .writer{
    float: right;
    width: 20%;
    display: inline-block;
}

.Board{
    border: 2px solid hsl(61, 98%, 44%);
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    width:30%;
    height: 500px;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
}

.Board_top > div.title {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.Board_top > div.writer {
    text-align: right;
    display: inline-block;
    width: 20%;
}

.Br_li .title{
    float: left;
    width: 70%;
    display: inline-block;
}

.Br_li .writer{
    float: right;
    width: 20%;
    display: inline-block;
}

.Hot{
    border: 2px solid hsl(61, 98%, 44%);
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    width:30%;
    height: 500px;
    box-sizing: border-box;
    float: right;
}

.HOT_top > div.title {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.HOT_top > div.writer {
    text-align: none;
    display: inline-block;
    width: 20%;
}

.HOT_top > div.count {
    text-align: right;
    display: inline-block;
    width: 20%;
}

.Hot_li .title{
    float: left;
    width: 50%;
    display: inline-block;
}

.Hot_li .writer{
    float:none;
    width: 20%;
    display: inline-block;
}

.Hot_li .count{
    float:right;
    width: 20%;
    display: inline-block;
}

.NT_li, .Br_li, .Hot_li {
    margin-top: 5%;
}

.NT_li hr, .Br_li hr, .Hot_li hr{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    background-color: #757474;
    height: 0.1px;
}